<div class="container">
  <div [hidden]="submitted">
    <h2 style="text-align: center;">Thêm tài khoản người dùng</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Tên tài khoản</label>
        <input type="text" class="form-control" id="username"
               required
               [(ngModel)]="user.username" name="username"
               #username="ngModel">
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="text" class="form-control" id="password"
            [(ngModel)]="user.password" name="password">
      </div>

      <div class="form-group">
        <label for="repass">Nhập lại mật khẩu</label>
        <input type="text" class="form-control" id="repass"
            [(ngModel)]="user.repass" name="repass">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
    </form>
  </div>