  <div class="container">
      <div class="row info">
        <div class="col-xl-6">
          <b>Tên khách hàng: </b>
          <span>{{userDetail.full_name}}</span>
        </div>
        <div class="col-xl-6">
          <b>Giới tính: </b>
          <span>{{userDetail.sex}}</span>
        </div>
        <div class="col-xl-6">
          <b>email: </b>
          <span>{{userDetail.email}}</span>
        </div>
        <div class="col-xl-6">
          <b>Số điện thoại: </b>
          <span>{{userDetail.phone}}</span>
        </div>
        <div class="col-xl-6">
          <b>Ngày sinh: </b>
          <span>{{userDetail.birth_day}}</span>
        </div>
        <div class="col-xl-6">
          <b>Role: </b>
          <span>{{userDetail.role}}</span>
        </div>
        <div class="col-xl-6">
          <b>Ngày tạo: </b>
          <span>{{userDetail.created_at | date :'dd/MM/yyy'}}</span>
        </div>
      </div>
    </div>