<div class="row row-eq-height" style="padding:1em;">
    <div class="col-md-7">
        <mat-card>
            <mat-card-title>Danh sách đơn hàng</mat-card-title>
            <mat-card-content>
                <app-order-list></app-order-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-5">
        <mat-card>
            <mat-card-title>Chi tiết đơn hàng</mat-card-title>
            <mat-card-content>
                <app-order-detail></app-order-detail>
            </mat-card-content>
        </mat-card>
    </div>
</div>