<div class="row row-eq-height" style="padding:1em;">
    <div class="col">
        <mat-card style="margin-bottom: 1em;">
            <mat-card-title>
                <span>Order list</span>
                <button mat-raised-button color="primary" class="pull-right" (click)="addOrder()">Thêm mới</button>
            </mat-card-title>
            <mat-card-content>
                <app-order-list (selectOrder)="selectedOrder = $event"></app-order-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-5" *ngIf="selectedOrder">
        <mat-card>
            <mat-card-title>Order overview</mat-card-title>
            <mat-card-content>
                <app-order-overview [orderDetail]="selectedOrder"></app-order-overview>
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Edit</button>
                <button mat-raised-button (click)="selectedOrder = null">CLOSE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>