<div class="row row-eq-height" style="padding:1em;">
    <div class="col">
        <mat-card>
            <mat-card-title>
                <span>Order list</span>
                <button mat-raised-button color="primary" class="pull-right">ADD NEW</button>
            </mat-card-title>
            <mat-card-content>
                <app-order-list (selectOrder)="selectedOrder = $event"></app-order-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-5" *ngIf="selectedOrder">
        <mat-card>
            <mat-card-title><span>Order detail</span><button mat-raised-button color="primary" class="pull-right">Chỉnh sửa</button></mat-card-title>
            <mat-card-content>
                <app-order-detail [orderDetail]="selectedOrder"></app-order-detail>
            </mat-card-content>
        </mat-card>
    </div>
</div>