<div class="row row-eq-height" style="padding:1em;">
  <div class="col">
    <app-product-filter></app-product-filter>
    <mat-card style="margin-top: 1em; margin-bottom: 1em;">
      <mat-card-title>
        <span>Product list</span>
        <button mat-raised-button color="primary" class="pull-right" (click)="openForm = true; clearSelectedProduct();">ADD NEW</button>
      </mat-card-title>
      <mat-card-content>
        <app-product-list (selectProduct)="selectedProduct = $event; openForm = true"></app-product-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-5" *ngIf="openForm">
    <mat-card>
      <mat-card-title>Product Detail</mat-card-title>
      <mat-card-content>
        <app-product-form [product]="selectedProduct"></app-product-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="!selectedProduct" (click)="createProduct()">ADD</button>
        <button mat-raised-button color="primary" *ngIf="selectedProduct" (click)="editProduct()">EDIT</button>
        <button mat-raised-button (click)="openForm = false; clearSelectedProduct();">CLOSE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
