<div class="row" style="padding:1em;">
    <div class="col-md-8">
        <mat-card>
            <mat-card-title>
                <span *ngIf="orderId">Edit order {{orderId}}</span>
                <span *ngIf="!orderId">Add new order</span>
            </mat-card-title>
            <mat-card-content class="row">
                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Customer name" [(ngModel)]="order.customer_name">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <textarea matInput placeholder="Customer address" [(ngModel)]="order.customer_address"></textarea>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input type="number" min="0" step="1" matInput placeholder="Total product" [(ngModel)]="order.total_product">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <input type="number" min="0" placeholder="Total price" [(ngModel)]="order.total_price">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </div>
</div>