<div class="row row-eq-height" style="padding:1em;">
    <div class="col">
        <mat-card>
            <mat-card-title>
                <span>User list</span>
                <button mat-raised-button color="primary" class="pull-right" (click)="addUser()">ADD NEW</button>
            </mat-card-title>
            <mat-card-content>
                <app-user-list (selectUser)="selectedUser = $event"></app-user-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" *ngIf="selectedUser">
        <mat-card>
            <mat-card-title>User editor</mat-card-title>
            <mat-card-content>
                <app-user-editor [user]="selectedUser"></app-user-editor>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="editUser()">EDIT</button>
                <button mat-raised-button (click)="clearSelectedUser()">CLOSE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>