<div class="product-form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name" [(ngModel)]="product.name">
  </mat-form-field>

  <!-- <mat-form-field class="full-width">
    <input matInput placeholder="Brand" [(ngModel)]="product.brand">
  </mat-form-field> -->
  <app-autocomplete label="Brand" [(model)]="product.brand" [options]="['Nike', 'Thuong Dinh', 'Addias']"></app-autocomplete>

  <mat-form-field class="full-width">
    <input matInput placeholder="Url" [(ngModel)]="product.url">
  </mat-form-field>
  <table class="full-width">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput type="number" min="0" step="1" placeholder="Price" [(ngModel)]="product.price">
        </mat-form-field>
      </td>
      <td>
        <app-autocomplete label="Price Unit" [(model)]="product.price_unit" [options]="['USD', 'VND', 'EUR', 'RUP']"></app-autocomplete>
      </td>
    </tr>
  </table>
  <mat-form-field class="full-width">
    <input matInput type="number" min="0" step="1" placeholder="Count" [(ngModel)]="product.count">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [(ngModel)]="product.description"></textarea>
  </mat-form-field>

  <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Color" [(ngModel)]="product.attributes.color">
          </mat-form-field>
        </td>
        <td>
          <app-autocomplete label="Size" [(model)]="product.attributes.size" [options]="['S', 'M', 'L', 'XL']"></app-autocomplete>
        </td>
      </tr>
    </table>
  <mat-form-field class="full-width">
    <input matInput placeholder="Image Url" [(ngModel)]="product.attributes.url_image">
  </mat-form-field>
</div>
