<mat-card-content>
  <mat-card>
    <div class="order-form">

      <mat-form-field class="full-width">
        <input matInput placeholder="user_backend_id" [(ngModel)]="order.user_backend_id">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="customer_name" [(ngModel)]="order.customer_name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" min="0" step="1" placeholder="customer_address" [(ngModel)]="order.customer_address">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="total_products" [(ngModel)]="order.total_products">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" min="0" step="1" placeholder="total_price" [(ngModel)]="order.total_price">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="price_unit" [(ngModel)]="order.price_unit">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="user_backend_name" [(ngModel)]="order.user_backend_name">
      </mat-form-field> 
    </div>  
  </mat-card>
  <button mat-raised-button color="primary" *ngIf="selectedProduct" (click)="addOrder()">ADD ORDER</button>
</mat-card-content>
