<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <app-autocomplete class="col" label="Brand" [(model)]="brand" [options]="['Nike', 'Thuong Dinh', 'Addias']"></app-autocomplete>
      <mat-form-field class="col">
        <input matInput [(ngModel)]="price" type="number" placeholder="Price">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [(ngModel)]="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput [(ngModel)]="color" placeholder="Color">
      </mat-form-field>
      <app-autocomplete class="col" label="Size" [(model)]="size" [options]="['S', 'M', 'L', 'XL']"></app-autocomplete>
    </div>
  </mat-expansion-panel>
</mat-accordion>
